html,
body {
  height: 100%;
}
.wrapper {
  display: table;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.content {
  display: table-row;
  height: 100%;
}

.fixed_width_container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.clear {
    clear: both;
}
 
 .active {
	 color: #10c9c3;
 }
  
.button {
    display: block;
    width: 180px;
    background-color: #10c9c3;
    color: #fff;
    font: bold 12px/54px 'Montserrat', sans-serif;
    letter-spacing: 1.2px;
    margin: 0 auto;
    margin-top: 39px;
    text-align: center;
    text-transform: uppercase;
}

.button:hover {
    color: #10c9c3;
    background-color: #fff;
}

h1 {
    font: bold 38px/48px 'Montserrat', sans-serif;
    letter-spacing: 0.4px;
    color: #1d1d1d;
    margin-bottom: 31px;
}

h2 {
    font: bold 30px/60px 'Montserrat', sans-serif;
    letter-spacing: 0.3px;
    color: #191919;
    margin-bottom: 20px;
}

h4 {
    font: bold 12px/30px 'Montserrat', sans-serif;
    letter-spacing: 1.2px;
    color: #191919;
    text-transform: uppercase;
    margin-bottom: 18px;
    margin-top: 25px;
}

/* nav block */
.nav_block {
    background-color: #fff;
}

.nav_block > .fixed_width_container {
    background: white url(../images/nav-bg.jpg) no-repeat 0 center;
    background-size: 1376px;
}

.nav_block .fixed_width_container .nav_top {
    padding-top: 38px;
    padding-bottom: 38px;
}

.nav_block .fixed_width_container .nav_top > a {
    display: block;
    width: 31px;
    float: left;
}

.nav_top .nav_menu {
    float: right;
}

.nav_block .fixed_width_container .nav_top .nav_menu li,
.nav_block .fixed_width_container .nav_top .nav_menu a {
    display: inline-block;
}

.nav_block .fixed_width_container .nav_top .nav_menu a{
    font: bold 12px/24px 'Montserrat', sans-serif;
    letter-spacing: 1.2px;
    color: #191919;
    padding: 0 14px;
    text-transform: uppercase;
}

.nav_block .fixed_width_container .nav_top .nav_menu a:hover {
    color: #10c9c3;
}

.nav_block .fixed_width_container .nav_top .nav_menu > a.home:active {
	color: #10c9c3;
}

.nav_block .nav_top .nav_menu li:last-child > a {
    padding-right: 0;
}

.nav_block .fixed_width_container .nav_bottom {
    padding-top: 140px;
    padding-bottom: 201px;
}

.nav_block .fixed_width_container .nav_bottom .bottom_right {
    width: 488px;
    margin-left: 680px;
}

.nav_block .fixed_width_container .nav_bottom .bottom_right > p {
    font: normal 18px/28px 'Nunito Sans', sans-serif;
    letter-spacing: 0.1px;
    color: #787878;
}

.nav_block .fixed_width_container .nav_bottom .bottom_right > .button {
    margin-left: 0;
}

/* about_us */

.about_us .fixed_width_container {
    padding-top: 97px;
    padding-bottom: 100px;
    text-align: center;
}
.about_us .fixed_width_container > p {
    width: 600px;
    padding: 0 10px;
    margin: 0 auto;
    font: normal 16px/24px 'Nunito Sans', sans-serif;
    letter-spacing: 0.1px;
    color: #787878;
}

.about_us .fixed_width_container > img {
    margin-top: 37px;
}

/* second block */

.second_block {
    background: #ede6e6 url(../images/second-bg.jpg) no-repeat right 0;
    background-size: auto 100%;
}

.second_block .fixed_width_container .second_left {
    padding-top: 155px;
    padding-bottom: 160px;
}

.second_block .fixed_width_container .second_left > p {
    text-transform: uppercase;
    font: bold 12px/30px 'Montserrat', sans-serif;
    letter-spacing: 1.2px;
    color: #000;
}

.second_block .fixed_width_container .second_left > p span {
    display: inline-block;
    margin-left: 15px;
}

.deer {
    width: 500px;
	height: 3px;
    background-color: #10c9c3;
    margin-top: 20px;
    margin-bottom: 41px;
}

.deer > div {
	width: 164px;
	height: 3px;
	margin-left: 336px;
	background-color: #d8d8d8;
}


.deer1 {
    width: 500px;
	height: 3px;
    background-color: #10c9c3;
    margin-top: 20px;
    margin-bottom: 41px;
}

.deer1 > div {
	width: 72px;
	height: 3px;
	margin-left: 428px;
	background-color: #d8d8d8;
}

.deer2 {
    width: 500px;
	height: 3px;
    background-color: #10c9c3;
    margin-top: 20px;
    margin-bottom: 41px;
}

.deer2 > div {
	width: 220px;
	height: 3px;
	margin-left: 280px;
	background-color: #d8d8d8;
}

/* free block */

.free_block {
    background-color: #10c9c3;
}

.free_block .fixed_width_container .free1,
.free_block .fixed_width_container .free2,
.free_block .fixed_width_container .free3,
.free_block .fixed_width_container .free4 {
    width: 277px;
    float: left;
    padding: 100px 5px;
    overflow: hidden;
}

.free_block .fixed_width_container .free2 {
    padding-left: 15px;
    width: 267px;
}

.free_block .fixed_width_container .free1 img,
.free_block .fixed_width_container .free2 img,
.free_block .fixed_width_container .free3 img,
.free_block .fixed_width_container .free4 img {
    display: block;
    float: left;
    width: 41px;
    padding-top: 10px;
}

.free_block .fixed_width_container .free1 p,
.free_block .fixed_width_container .free2 p,
.free_block .fixed_width_container .free3 p,
.free_block .fixed_width_container .free4 p {
    font: bold 12px/30px 'Montserrat', sans-serif;
    letter-spacing: 1.2px;
    color: #fff;
    margin-left: 60px;
    text-transform: uppercase;
}

.free_block .fixed_width_container .free1 p.number,
.free_block .fixed_width_container .free2 p.number,
.free_block .fixed_width_container .free3 p.number,
.free_block .fixed_width_container .free4 p.number {
    font-size: 18px;
    letter-spacing: 0.5px;
	margin-left: 60px;
}


/* four block */
.four_block {
    overflow: hidden;
}

.four_block > .fixed_width_container {
    width: 1170px;
}

.four_block .fixed_width_container .four {
	display: block;
    width: 341px;
    height: 300px;
    float: left;
    position: relative;
}

.four_block .fixed_width_container .four::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	opacity: 1;
    transition: opacity 1s;
}

.four_block .fixed_width_container .four:hover::after {
    background: rgba(0, 0, 0, 0.8) url(../images/four-icon.png) no-repeat center center;
    opacity: 1;
}

.four_block .fixed_width_container > a > img {
    width: 341px;
    height: 100%;
}

.four_block .fixed_width_container > a.four_div1,
.four_block .fixed_width_container > a.four_div5 {
    margin-left: -97px;
}

.four_block .fixed_width_container > a.four_div4,
.four_block .fixed_width_container > a.four_div8 {
    margin-right: -97px;
}

/* fifth block */

.fifth_block {
    background-color: #f5f5f5;
    text-align: center;
}

.fifth_block .fixed_width_container {
    padding-top: 44px;
    padding-bottom: 44px;
}

.fifth_block .fixed_width_container > a {
    color: #8e8e8e;
    font: bold 12px/30px 'Montserrat', sans-serif;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.fifth_block .fixed_width_container > a:hover {
    color: #000;
}

/* sixth block */

.sixth_block .fixed_width_container {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.sixth_block .fixed_width_container > h2 {
    margin-bottom: 38px;
}

.sixth_block .fixed_width_container > p {
    font: normal 16px/24px 'Nunito Sans', sans-serif;
    letter-spacing: 0.8px;
    color: #787878;
    display: inline-block;
    width: 574px;
}

.sixth_block .fixed_width_container .video {
    width: 1160px;
    margin-top: 57px;
    padding-top: 243px;
    padding-bottom: 243px;
    background: #e9e9e9 url(../images/cat-bg.jpg) no-repeat 0 center;
    background-size: 1160px;
}

.sixth_block .fixed_width_container .video > a {
    display: block;
    width: 85px;
    height: 85px;
    margin: 0 auto;
    border-radius: 50%;
    background: #10c9c3 url(../images/video.png) no-repeat center center;
    position: relative;
}

.sixth_block .fixed_width_container .video > a:hover {
    background-color: transparent;
}

.sixth_block .fixed_width_container .video > a::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
}

.sixth_block .fixed_width_container .video > a:hover::after {
    background: rgba(16, 201, 195, .5) url(../images/video.png) no-repeat center center;
}

/* seventh block */

.seventh {
    background-color: #f5f5f5;
}

.seventh .fixed_width_container {
    padding-top: 50px;
    padding-bottom: 80px;
}

.seventh .fixed_width_container .seventh_div {
    width: 290px;
    float: left;
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
}

.seventh .fixed_width_container .seventh_div > img {
    display: block;
    margin: 0 auto;
}

.seventh .fixed_width_container .seventh_div > p {
    display: inline-block;
    font: normal 16px/24px 'Nunito Sans', sans-serif;
    letter-spacing: 0.1px;
    color: #787878;
    width: 240px;
}

/* eighth  block*/

.eighth {
    background-color: #10c9c3;
}

.eighth .fixed_width_container {
    padding-top: 180px;
    padding-bottom: 54px;
    text-align: center;
}

.eighth .fixed_width_container > .textimonials {
    width: 845px;
    font: bold 24px/36px 'Montserrat', sans-serif;
    letter-spacing: 0.2px;
    color: #fff;
    text-transform: none;
    margin: 0 auto;
}

.eighth .fixed_width_container > p {
    font: normal 12px/36px 'Montserrat', sans-serif;
    letter-spacing: 1.2px;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 105px;
    text-transform: uppercase;
}

.eighth .fixed_width_container .eighth_bottom {
    overflow: hidden;
    width: 100px;
    margin: 0 auto;
    padding-top: 10px;
}

.eighth .fixed_width_container .eighth_bottom > div {
    background-color: #b0e8e6;
    width: 6px;
    height: 6px;
    border: 1px solid #6adad7;
    border-radius: 50%;
    float: left;
    margin-left: 5px;
}

.eighth .fixed_width_container .eighth_bottom > div:hover,
.eighth .fixed_width_container .eighth_bottom > div:active {
    background-color: #fff;
    width: 12px;
    height: 12px;
    margin-top: -3px;
}

.eighth .fixed_width_container .eighth_bottom > div:first-child {
    margin-left: 35px;
}


/* ninth block */

.ninth .fixed_width_container > a {
    display: block;
    float: left;
    padding: 64px 75px;
}

.ninth .fixed_width_container > a:first-child {
    padding-left: 25px;
}

.ninth .fixed_width_container > a:nth-child(5) {
    padding-right: 0;
}


/* tenth block */

.tenth {
    background-color: #f5f5f5;
}

.tenth .fixed_width_container {
    padding-top: 95px;
    padding-bottom: 95px;
    text-align: center;
}


.tenth .fixed_width_container > h2 {
    font: bold 30px/84px 'Montserrat', sans-serif;
    letter-spacing: 2px;
    color: #1d1d1d;
    margin-bottom: 30px;
}

.tenth .fixed_width_container > p {
    display: inline-block;
    font: normal 16px/24px 'Nunito Sans', sans-serif;
    letter-spacing: 0.1px;
    color: #787878;
    width: 545px;
    margin-bottom: 35px;
}

.tenth .fixed_width_container form input {
    border: none;
    padding: 0 10px;
    font: normal 15px/24px 'Nunito Sans', sans-serif;
    letter-spacing: 0.1px;
    color: #787878;
}

.tenth .fixed_width_container form .name,
.tenth .fixed_width_container form .email {
    width: 300px;
    height: 48px;
}

.tenth .fixed_width_container form .name {
    margin-right: 30px;
}

.tenth .fixed_width_container form .title {
    width: 650px;
    height: 48px;
    margin-top: 30px;
    margin-bottom: 30px;
}

textarea {
    width: 650px;
    height: 160px;
    border: none;
    padding: 0 10px;
    padding-top: 10px;
    font: normal 15px/24px 'Nunito Sans', sans-serif;
    letter-spacing: 0.1px;
    color: #787878;
    resize: none;
}

.tenth .fixed_width_container form > .button {
    height: 54px;
    color: #fff;
    font: bold 12px/54px 'Montserrat', sans-serif;
    letter-spacing: 1.2px;
}

.tenth .fixed_width_container form > .button:hover {
	color: #10c9c3;
}

/* footer */

.footer {
    background-color: #000;
    margin-top: 1px;
    
}

.footer .fixed_width_container > div.footer1,
.footer .fixed_width_container > div.footer2,
.footer .fixed_width_container > div.footer3,
.footer .fixed_width_container > div.footer4,
.footer .fixed_width_container > div.footer5 {
    float: left;
    padding-top: 90px;
    padding-bottom: 90px;
    font: normal 15px/24px 'Nunito Sans', sans-serif;
    letter-spacing: 0.1px;
    color: #787878;
}

.footer .fixed_width_container > div.footer2 {
        width: 230px;
        text-align: right;
        margin-left: 170px;
        margin-right: 130px;
}

.footer .fixed_width_container > div.footer3,
.footer .fixed_width_container > div.footer4 {
    width: 100px;
}

.footer .fixed_width_container > div.footer1 {
    width: 240px;
}

.footer .fixed_width_container > div.footer5 {
    width: 100px;
    text-align: right;
    margin-left: 50px;
    padding-right: 50px;
    float: right;
}

.footer .fixed_width_container > div.footer1 .text_one {
   font: bold 18px/30px 'Montserrat', sans-serif;
    letter-spacing: 0.2px;
    color: #fff;
    margin-bottom: 20px;
}

.footer .fixed_width_container > div a {
    display: block;
    font: normal 15px/24px 'Nunito Sans', sans-serif;
    letter-spacing: 0.1px;
    color: #787878;
}

.footer .fixed_width_container > div a:hover {
    color: #fff;
} 